


form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

button{
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}





.portada{
    background-image: url("../img/portada.jpg");
    height: 20rem;
    background-size: cover;
}


